@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}
.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
